.post {
    margin-bottom: 1000px;
}
.home-post {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.form-home {
    align-items: center;
    margin-right: 10px;
    width: 40%;
}
.button-homes {
    margin-top: 30px;
}
